
body {
    border: 1px solid black;
    margin: 0 0 0 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    height: 550px;
    width: 400px;
}

.container {
    width: 100%;
    height: 20vh;
    border: 1px solid black;
}

.dark {
    background-color: #001f3f;
    color: rgb(127, 191, 255);
}

.light {
    background-color: #0074D9;
}

.ticker {
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;
    font-size: 300%;
}

.price {
    width: 50%;
    height: 100%;
    float: right;
    text-align: right;
    font-size: 300%;    
}

.row {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
}

.ticker > span {
    padding-left: 1em;
}

.price > span {
    padding-right: 1em;
}

.price > span::after {
    content: url('./icons/black-dash.png');
}

.price > span.up::after {
    content: url('./icons/up-green-arrow.png');
}

.price > span.down::after {
    content: url('./icons/down-red-arrow.png');
}

